<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.ecube.inventory.inventory_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MaterialsEditActivity"></activity>
        <activity android:name=".Materials_listActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProducersFormActivity" />
        <activity android:name=".MaterialsFormActivity" />
        <activity android:name=".OrdersFormActivity" />
        <activity android:name=".ProducersListActivity" />
        <activity android:name=".ProducersEditActivity" />
    </application>

</manifest>